.post {
    max-width: 500px;
    width: 100%;
    background-color: rgb(45, 27, 84);
    padding: 10px;
    border-radius: 10px;
    
}

.post-header {
    border-bottom: 1px solid bisque;
    padding-bottom: 5px;

}

.post-header a {
    font-size: 20px;
    text-decoration: none;
}

.post-header p {
    font-size: 12px;
    color: rgba(255, 228, 196, 0.484) ;
}

.post-body {
    padding-top: 10px;
}

.post-link {
    font-size: 22px;
    margin-bottom: 5px;
    text-decoration: none;
}

.like-btn {
    background-color: rgb(26, 10, 44);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    margin-top: 20px;
}


.Ad {
    width: 500px;
}
