{% extends "layout.html" %}

{% block content %}
    <h1>Account</h1>
    <div class="profile">
        <div class="profile-img">
            <!-- <img src="https://i.pinimg.com/originals/f6/90/83/f69083fdeba713c6b1b76a33fd79640b.png" alt="logo"> -->
        </div>
            <div class="profile-data">
                <h3>{{ name }}</h3>     
                <p>Posts: {{ posts_len }}</p>
                <p>Views: {{ views }}</p>
            </div>
    </div>
    <form action="/try_create" method="post">
        <input id="title" type="text" name="title" placeholder="title" required>
        <div>
            <textarea name="content" id="content" cols="30" rows="10" placeholder="content" required></textarea>
            <label for="content"></label>
        </div>
        <input type="submit" value="Create">
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
    </form>
    {% for post in posts %}
        <div class="post">
            <div class="post-header">
                <a href="/account/{{ post['author'][0] }}">{{ post['author'][1] }}</a>
                <p>{{ post['pub_time'] }}</p>
            </div>
            <div class="post-body">
                <a class='post-link' href="/post/{{ post['id'] }}">{{ post['title'] }}</a>
                <p>{{ post['content'] }}</p>
            </div>
            <button class="like-btn">Like</button>            
        </div>   
    {% endfor %}
    <div class="page_change_button">
        {% for i in range(1, pages+1) %}
            <a href="/account?page={{ i }}">{{ i }}</a>
        {% endfor %}
    </div>
{% endblock content %}