{% extends "layout.html" %}

{% block content %}
    <h1>Welcome, {{ name }}</h1>
    <h3>Blog posts</h3>
    <form action="/try_create" method="post">
        <input id="title" type="text" name="title" placeholder="title" required>
        <div>
            <textarea name="content" id="content" cols="30" rows="10" placeholder="content" required></textarea>
            <label for="content"></label>
        </div>
        <input type="submit" value="Create">
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
    </form>
    {% for post in posts %}
        <div class="post">
            <div class="post-header">
                <a href="/account/{{ post['author'][0] }}">{{ post['author'][1] }}</a>
                <p>{{ post['pub_time'] }}</p>
            </div>
            <div class="post-body">
                <a class='post-link' href="/post/{{ post['id'] }}">{{ post['title'] }}</a>
                <p>{{ post['content'] }}</p>
            </div>
            <button class="like-btn">Like</button>            
        </div>
    {% endfor %}
    <div>
        {% for i in range(1, pages+1) %}
            <a href="/home?page={{ i }}">{{ i }}</a>
        {% endfor %}
    </div>
    <img class="Ad" src="{{ url_for('static', filename='images/zdes.jpg') }}" alt="Ad">
{% endblock content %}